<div ng-controller="DashboardController" class="Container">
    <uib-tabset justified="true">
        <uib-tab heading="Overview">
            <!--Script for Accordian-->
        

            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group>
                    <uib-accordion-heading is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        Quick Look
                    </uib-accordion-heading>

                    <div class="row clearfix">
                        <div class="col-md-12 col-lg-12">
                            <div class="well">



                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Total Patients</th>
                                            <th>Total Doctors</th>
                                            <th>Total Exam Rooms</th>
                                            <th>Open Exam Rooms</th>
                                            <th>Number of Current Appointments</th>
                                            <th>Number of Checked in Doctors</th>
                                            <th>Number of Checked in Patients</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{dashboard.PatientTotalCount}}</td>
                                            <td>{{dashboard.DoctorTotalCount}}</td>
                                            <td>{{dashboard.ExamRoomTotalCount}}</td>
                                            <td>{{dashboard.OpenExamRoomsCount}}</td>
                                            <td>{{dashboard.CurrentAppointments.length}}</td>
                                            <td>{{dashboard.DoctorsCheckedinCount}}</td>
                                            <td>{{dashboard.PatientsCheckedinCount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" id="subTable">
                                <div class="well">

                                    <table class="table table-striped centered">
                                        <thead>
                                            <tr class="centered">
                                                <th>Exam Room Occupancy</th>
                                                <th>Doctor Onsite Percentage</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr>
                                                <td>{{dashboard.ExamRoomsFilledPercentage}}%</td>
                                                <td>{{dashboard.DoctorsOnsitePercentage}}%</td>

                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>

                    </div>

                </uib-accordion-group>
                <uib-accordion-group heading="Check-in or Check-out  ||  Patient or Doctor">
                    <div class="row clearfix">
                        <div class="col-md-4 col-lg-4 pull-left">
                            <div class="page-header">
                                <h1>Check-in/out Patient</h1>
                            </div>
                            <div class="btn-group center">
                                <button type="button" class="btn btn-primary center">Check-In Patient</button>
                                <button type="button" class="btn btn-warning center">Check-Out Patient</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 pull-right">
                            <div class="page-header">
                                <h1>Check-in/out Doctor</h1>
                            </div>
                            <div class="btn-group center">
                                <button type="button" class="btn btn-primary center">Check-In Doctor</button>
                                <button type="button" class="btn btn-warning center">Check-Out Doctor</button>
                            </div>
                        </div>
                    </div>

                </uib-accordion-group>
                <uib-accordion-group heading="Current Appointments">
                    <div class="row clearfix">
                        <div class="col-md-3 col-lg-3 center">
                            <h3>Exam Room Occupancy</h3>
                            <h3 class="center">X%</h3>
                        </div>
                        <div class="col-md-3 col-lg-3 center">
                            <h3>Doctor's Onsite Percentage</h3>
                            <h3 class="center">X%</h3>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <h3>Exam Room Occupancy</h3>
                            <h3>X%</h3>
                        </div>
                    </div>


                </uib-accordion-group>
                <uib-accordion-group heading="Custom template" template-url="group-template.html">
                    Hello
                </uib-accordion-group>
                <uib-accordion-group heading="Delete account" panel-class="panel-danger">
                    <p>Please, to delete your account, click the button below</p>
                    <button class="btn btn-danger">Delete</button>
                </uib-accordion-group>
                <uib-accordion-group is-open="status.open">
                    <uib-accordion-heading>
                        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    This is just some content to illustrate fancy headings.
                </uib-accordion-group>
            </uib-accordion>










        </uib-tab>
        <uib-tab heading="Statistics">Short Labeled Justified content</uib-tab>
        <uib-tab heading="View All">Long Labeled Justified content</uib-tab>
    </uib-tabset>
</div>