<div ng-controller="DashboardController" class="Container">
    <uib-tabset justified="true">
        <uib-tab heading="Overview">
            <!--Script for Accordian-->


            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group  is-open="status.open">
                    <uib-accordion-heading is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        Quick Look <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>

                    <div class="row clearfix">
                        <div class="col-md-12 col-lg-12">
                            <div class="well">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Total Patients</th>
                                            <th>Total Doctors</th>
                                            <th>Total Exam Rooms</th>
                                            <th>Open Exam Rooms</th>
                                            <th>Number of Current Appointments</th>
                                            <th>Number of Checked in Doctors</th>
                                            <th>Number of Checked in Patients</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{dashboard.PatientTotalCount}}</td>
                                            <td>{{dashboard.DoctorTotalCount}}</td>
                                            <td>{{dashboard.ExamRoomTotalCount}}</td>
                                            <td>{{dashboard.OpenExamRoomsCount}}</td>
                                            <td>{{dashboard.CurrentAppointments.length}}</td>
                                            <td>{{dashboard.DoctorsCheckedinCount}}</td>
                                            <td>{{dashboard.PatientsCheckedinCount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" id="subTable">
                                <div class="well">

                                    <table class="table table-striped centered">
                                        <thead>
                                            <tr class="centered">
                                                <th>Exam Room Occupancy</th>
                                                <th>Doctor Onsite Percentage</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr>
                                                <td>{{dashboard.ExamRoomsFilledPercentage}}%</td>
                                                <td>{{dashboard.DoctorsOnsitePercentage}}%</td>

                                            </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>

                    </div>

                </uib-accordion-group>
                <uib-accordion-group heading="Check-in or Check-out">
                    <div class="row clearfix">
                        <div class="col-md-4 col-lg-4 pull-left">
                            <div class="page-header">
                                <h1>Check-in/out Patient</h1>
                            </div>
                            <div class="btn-group center">
                                <button type="button" class="btn btn-primary center">Check-In Patient</button>
                                <button type="button" class="btn btn-warning center">Check-Out Patient</button>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 pull-right">
                            <div class="page-header">
                                <h1>Check-in/out Doctor</h1>
                            </div>
                            <div class="btn-group center">
                                <button type="button" class="btn btn-primary center">Check-In Doctor</button>
                                <button type="button" class="btn btn-warning center">Check-Out Doctor</button>
                            </div>
                        </div>
                    </div>

                </uib-accordion-group>
                <uib-accordion-group heading="Current Appointments:  {{dashboard.CurrentAppointments.length}}">
                    <div class="row clearfix">
                        <div class="well well-lg" ng-repeat="appt in dashboard.CurrentAppointments">
                            <span id="AppointmentLabel" class="label label-Appointment">Appointment ID: {{appt.AppointmentID}}</span>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Patient ID</th>
                                        <th>Doctor ID</th>
                                        <th>ExamRoom</th>
                                        <th>Check-in Date Time</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <td>{{appt.PatientID}}</td>
                                        <td>{{appt.DoctorID}}</td>
                                        <td>{{appt.ExamRoom.ExamRoomName}}</td>
                                        <td>{{appt.CheckinDateTime | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <span id="AppointmentLabel" class="label label-Appointment">Patient Name: {{appt.Patient.FirstName}} {{appt.Patient.LastName}}</span>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>BirthDate</th>
                                        <th>Age</th>
                                        <th>Telephone</th>
                                        <th>Email</th>
                                        <th>BloodType</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <tr>
                                        <td>{{appt.Patient.Birthdate | date:"MM/dd/yyyy"}}</td>
                                        <td>{{appt.Patient.Age}}</td>
                                        <td>{{appt.Patient.Telephone | tel}}</td>
                                        <td>{{appt.Patient.Email}}</td>
                                        <td>{{appt.Patient.BloodType}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <span id="AppointmentLabel" class="label label-Appointment">Doctor Name: {{appt.Doctor.FirstName}} {{appt.Doctor.LastName}}</span>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Telephone</th>
                                        <th>Email</th>
                                        <th>SpecialtyId</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{appt.Doctor.Telephone | tel}}</td>
                                        <td>{{appt.Doctor.Email}}</td>
                                        <td>{{appt.Doctor.SpecialtyID}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group heading="Checked-In Doctors: {{dashboard.CheckedinDoctors.length}} <-- Logic Wrong">
                    <h4>OnSite Doctors</h4>
                    <div class="row">
                        <div id="PageScan1">



                            <div class="panel panel-primary" ng-repeat="doctor in dashboard.CheckedinDoctors">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{doctor.FirstName}} {{doctor.LastName}}</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Doctor ID</th>
                                                <th>Email</th>
                                                <th>Telephone</th>
                                                <th>Join Date</th>
                                                <th>SpecialtyID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{doctor.DoctorID}}</td>
                                                <td>{{doctor.Email}}</td>
                                                <td>{{doctor.Telephone | tel}}</td>
                                                <td>{{doctor.CreatedDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                                <td>{{doctor.SpecialtyID}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <uib-pagination id="PageScan" direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"> </uib-pagination>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group heading="Checked-Out Doctors: {{dashboard.CheckedOutDoctors.length}} <-- Logic Wrong">
                    <h4>OnSite Doctors</h4>
                    <div class="row">
                        <div id="PageScan1">
                            <div class="panel panel-primary" ng-repeat="doctor in dashboard.CheckedOutDoctors">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{doctor.FirstName}} {{doctor.LastName}}</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Doctor ID</th>
                                                <th>Email</th>
                                                <th>Telephone</th>
                                                <th>Join Date</th>
                                                <th>SpecialtyID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{doctor.DoctorID}}</td>
                                                <td>{{doctor.Email}}</td>
                                                <td>{{doctor.Telephone | tel}}</td>
                                                <td>{{doctor.CreatedDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                                <td>{{doctor.SpecialtyID}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <uib-pagination id="PageScan" direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"> </uib-pagination>
                    </div>
                </uib-accordion-group>

                <uib-accordion-group heading="Checked-In Patients: {{dashboard.CheckedinPatients.length}} <-- Logic Wrong">
                    <h4>OnSite Doctors</h4>
                    <div class="row">
                        <div id="PageScan1">
                            <div class="panel panel-primary" ng-repeat="patient in dashboard.CheckedinPatients">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{patient.FirstName}} {{patient.LastName}}</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Patient ID</th>
                                                <th>Email</th>
                                                <th>Telephone</th>
                                                <th>Join Date</th>
                                                <th>BloodType</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{patient.PatientID}}</td>
                                                <td>{{patient.Email}}</td>
                                                <td>{{patient.Telephone | tel}}</td>
                                                <td>{{patient.CreatedDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                                <td>{{patient.BloodType}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <uib-pagination id="PageScan" direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"> </uib-pagination>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group heading="Delete account" panel-class="panel-danger">
                    <p>Please, to delete your account, click the button below</p>
                    <button class="btn btn-danger">Delete</button>
                </uib-accordion-group>
                <uib-accordion-group is-open="status.open">
                    <uib-accordion-heading>
                        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    This is just some content to illustrate fancy headings.
                </uib-accordion-group>
            </uib-accordion>

        </uib-tab>
        <uib-tab heading="Statistics">Short Labeled Justified content</uib-tab>
        <uib-tab heading="View All">Long Labeled Justified content</uib-tab>
        <uib-tab heading="Archived Patients/Doctors">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading="Archived Doctors: {{dashboard.ArchivedDoctors.length}}">
                    <h4>OnSite Doctors</h4>
                    <div class="row">
                        <div id="PageScan1">
                            <div class="panel panel-primary" ng-repeat="doctor in dashboard.ArchivedDoctors">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{doctor.FirstName}} {{doctor.LastName}}</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Doctor ID</th>
                                                <th>Email</th>
                                                <th>Telephone</th>
                                                <th>Join Date</th>
                                                <th>SpecialtyID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{doctor.DoctorID}}</td>
                                                <td>{{doctor.Email}}</td>
                                                <td>{{doctor.Telephone | tel}}</td>
                                                <td>{{doctor.CreatedDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                                <td>{{doctor.SpecialtyID}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <uib-pagination id="PageScan" direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"> </uib-pagination>
                    </div>
                </uib-accordion-group>
                <uib-accordion-group heading="Archived Patients: {{dashboard.ArchivedDoctors.length}}">
                    <h4>OnSite Doctors</h4>
                    <div class="row">
                        <div id="PageScan1">
                            <div class="panel panel-primary" ng-repeat="patient in dashboard.ArchivedPatients">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{patient.FirstName}} {{patient.LastName}}</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Patient ID</th>
                                                <th>Email</th>
                                                <th>Telephone</th>
                                                <th>Join Date</th>
                                                <th>Blood Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{patient.DoctorID}}</td>
                                                <td>{{patient.Email}}</td>
                                                <td>{{patient.Telephone | tel}}</td>
                                                <td>{{patient.CreatedDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                                                <td>{{patient.BloodDype}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <uib-pagination id="PageScan" direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"> </uib-pagination>
                    </div>
                </uib-accordion-group>
            </uib-accordion>
        </uib-tab>

    </uib-tabset>
</div>