<div ng-class="{hide: !loading}">
    <!-- loading mask -->
    <span us-spinner></span>
</div>
<div class="row" ng-class="{hide: loading}">
    <!-- loaded content -->   
    <div class="col-sm-6"><!-- column for exam room table -->
        <div ng-hide="examRooms.length">
            <div class="spacer10 hidden-xs"></div>
            <div class="alert alert-info">
                There are no exam rooms - please add one
            </div>
        </div>

        <table class="table table-bordered table-condensed table-responsive table-striped table-hover" ng-show="examRooms.length">
            <thead class="table-header">
                <tr>
                    <th>Exam Room Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="examroom in examRooms">
                    <td>{{examroom.ExamRoomName}}</td>
                    <td>
                        <a class="btn btn-danger btn-xs" ng-click="deleteExamRoom(examroom)">
                            <i class="fa fa-trash-o fa-fw"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- End column for exam room table -->
    <!-- column for elements to add new exam room -->
    <div class="col-sm-6">
        <div class="spacer5 hidden-xs"></div>

        <!-- Exam room form (block any default browser validation) -->
        <form name="examRoomForm" role="form" ng-submit="saveExamRoom()" novalidate>
            <div class="form-group"
                 ng-class="{'has-error': examRoomForm.examRoomName.$invalid && examRoomForm.$submitted }">
                <label class="control-label table-header"f for="examRoomName">Add New Exam Room:</label>
                <input type="text" class="form-control" id="examRoomName" name="examRoomName"
                       placeholder="Exam Room Name" ng-model="examRoom.ExamRoomName" required>
                <span class="help-block" ng-show="examRoomForm.examRoomName.$invalid && examRoomForm.$submitted">
                    This is a required field
                </span>
            </div><!-- end form group -->

            <button class="btn btn-success btn-sm pull-right" type="submit">
                <i class="fa fa-save"></i> Save
            </button>
        </form><!-- end form -->
    </div><!-- end column for elements to add new exam room -->
</div><!-- end row -->
