<form>
<div class="dropdown">
   
    <select id="doctorSpecialty" class="form-control"
            ng-options="specialty.SpecialtyId as specialty.SpecialtyName for specialty in specialties"
            ng-model="doctor.SpecialtyId"></select>
  </div>

    <button ng-hide="doctor.IsCheckedIn">Check In</button>
    <button ng-show="doctor.IsCheckedIn">Check Out</button>

  <div class="form-group">
    <label for="exampleInputFirstName">First Name</label>
    <input type="firstName" class="form-control" id="exampleInputFirstName" placeholder="FirstName" ng-model="doctor.FirstName">
  </div>
  <div class="form-group">
    <label for="exampleInputLastName">Last Name</label>
    <input type="lastName" class="form-control" id="exampleInputLastName" placeholder="LastName" ng-model="doctor.LastName">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="doctor.Email">
  </div>
  <div class="form-group">
    <label for="exampleInputTelephone">Telephone</label>
    <input type="telephone" class="form-control" id="exampleInputTelephone" placeholder="Telephone" ng-model="doctor.Telephone">
  </div>
   <button type="save" class="btn btn-default">Save</button>
  </form>