<form>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Doctor Specialty
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Pediatrics</a></li>
      <li><a href="#">Gastroenterology</a></li>
      <li><a href="#">General Practitioner</a></li>
      <li><a href="#">Hematology</a></li>
      <li><a href="#">Cardiology</a></li>
      <li><a href="#">Endocrinology</a></li>
      <li><a href="#">Podiatry</a></li>
      <li><a href="#">Orthopedics</a></li>
      <li><a href="#">Neurology</a></li>
      <li><a href="#">Gynecology/Obstetrics</a></li>
      <li><a href="#">Urology</a></li>
      <li><a href="#">Oncology</a></li>
      <li><a href="#">Immunology/Allergies</a></li>
      <li><a href="#">Dermatology</a></li>
      <li><a href="#">Psychiatry</a></li>
      <li><a href="#">Pain Management</a></li>
      <li><a href="#">Sports Medicine</a></li>
      <li><a href="#">Physical Therapy</a></li>
    </ul>
  </div>
</div>
  <div class="form-group">
    <label for="exampleInputFirstName">First Name</label>
    <input type="firstName" class="form-control" id="exampleInputFirstName" placeholder="FirstName">
  </div>
  <div class="form-group">
    <label for="exampleInputLastName">Last Name</label>
    <input type="lastName" class="form-control" id="exampleInputLastName" placeholder="LastName">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputTelephone">Telephone</label>
    <input type="telephone" class="form-control" id="exampleInputTelephone" placeholder="Telephone">
  </div>
   <button type="save" class="btn btn-default">Save</button>
  </form>