<div>
	<div ng-hide="doctor.length">
		<div class="spacer10 hidden-xs-4"></div>
		<div class="alert alert-info">
			There are no doctors - please add one
		</div>
	</div>
	<table class="table table-bordered table-condensed table-striped table-hover" ng-show="doctors.length">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Telephone</th>
				<th>CreatedDate</th>
				<th>Address1</th>
				<th>Address2</th>
				<th>City </th>
				<th>State</th>
				<th>Zip</th>
				<th>Specialty</th>
				<th>Appointments Today</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="doctor in doctors">
				<td>{{doctor.Doctor.FirstName}}</td>
				<td>{{doctor.Doctor.LastName}}</td>
				<td>{{doctor.Doctor.Email}}</td>
				<td>{{doctor.Doctor.Telephone}}</td>
				<td>{{doctor.Doctor.CreatedDate}}</td>
				<td>{{doctor.Doctor.Address1}}</td>
				<td>{{doctor.Doctor.Address2}}</td>
				<td>{{doctor.Doctor.City}}</td>
				<td>{{doctor.Doctor.State}}</td>
				<td>{{doctor.Doctor.Zip}}</td>
				<td>{{doctor.Doctor.Specialty}}</td>
				<td>2 <!-- Cameron put this in temporarily --></td>
				<td>
					<a class="btn btn-danger btn-xs" ng-click="deleteDoctor(doctor);">
						<i class="fa fa-remove"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>