<div class="panel panel-primary">
    <div class="panel-heading"> {{patient.PatientID ? 'Edit' : 'Add'}} Patient</div>
    <div class="panel-body">
        <div class="well">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patientFirstName">First Name</label>
                        <input type="text" class="form-control" id="patientFirstName"
                               placeholder="Patient First Name" ng-model="patient.FirstName">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patient.LastName">Last Name</label>
                        <input type="text" class="form-control" id="patientLastName"
                               placeholder="Patient Last Name" ng-model="patient.LastName">
                    </div><!-- end form group -->
                </div><!-- end column -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patientTelephone">Telephone</label>
                        <input type="text" class="form-control" id="patientTelephone"
                               placeholder="Telephone" ng-model="patient.Telephone">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patientEmail">Email Address</label>
                        <input type="email" class="form-control" id="patientEmail"
                               placeholder="Email Address" ng-model="patient.Email">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patientBirthdate">Birthdate</label>
                        <input type="datetime" class="form-control" id="patientBirthdate"
                               placeholder="Birthdate (MM/DD/YYYY)" ng-model="patient.Birthdate">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patientBloodType">Blood Type</label>
                        <input type="text" class="form-control" id="patientBloodType"
                               placeholder="Blood Type" ng-model="patient.BloodType">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patientAddress1">Address 1</label>
                        <input type="text" class="form-control" id="patientAddress1"
                               placeholder="Address 1" ng-model="patient.Address1">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patientAddress2">Address 2</label>
                        <input type="text" class="form-control" id="patientAddress2"
                               placeholder="Address 2 (Optional)" ng-model="patient.Address2">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <label class="control-label" for="patientCity">City</label>
                        <input type="text" class="form-control" id="patientCity"
                               placeholder="City" ng-model="patient.City">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label class="control-label" for="patientState">State</label>
                        <input type="text" class="form-control" id="patientState"
                               placeholder="State" ng-model="patient.State">
                    </div><!-- end form group -->
                </div><!-- end column -->
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group">
                        <label class="control-label" for="patientZip">Zip</label>
                        <input type="text" class="form-control" id="patientZip"
                               placeholder="Zip" ng-model="patient.Zip">
                    </div><!-- end form group -->
                </div><!-- end column -->
            </div><!-- end row -->

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <button class="btn btn-success btn-sm pull-right" ng-click="savePatient()">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <button class="btn btn-danger btn-sm pull-right" ui-sref="app.patients.grid">
                        <i class="fa fa-remove fa-fw"></i> Cancel
                    </button>
                </div><!-- end column -->
            </div><!-- end row -->
        </div><!-- end well -->
    </div>
</div>